body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;

  color: #ffffff;
  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.index-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.index-wrapper::before,
.index-wrapper::after {
  content: "";

  visibility: hidden;
}

.index-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.index-wrapper::after {
  background-image: url("../img/slide-3.png");
}

#product-1:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#product-1:checked ~ .index-wrapper #slide1,
#product-2:checked ~ .index-wrapper #slide2,
#product-3:checked ~ .index-wrapper #slide3 {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: middle;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;

  background-color: #ec583c;
  background-image: linear-gradient(
    90deg, 
    #e74a35 0%, 
    #f26843 100%
  );
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(
   90deg, 
   #eb6e5d 0%, 
   #f48668 100%
  );
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: linear-gradient(
   90deg, 
   #e1613e 0%, 
   #d64531 100%
  );
  box-shadow: inset 0px 2px 2px 0px #942718;
}

/*form*/

.form-input-field,
.form-textarea-field {
  box-sizing: border-box;
  padding: 9px 14px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 6px;
}

.form-input-field {
  height: 44px;
}

.form-textarea-field {
  height: 154px;
}

.form-input-field::-webkit-input-placeholder,
.form-textarea-field::-webkit-input-placeholder {
  font-weight: 400;
}

.form-input-field::-moz-placeholder,
.form-textarea-field::-moz-placeholder {
  font-weight: 400;
}

.form-input-field:-moz-placeholder,
.form-textarea-field:-moz-placeholder {
  font-weight: 400;
}

.form-input-field:-ms-input-placeholder,
.form-textarea-field:-moz-placeholder {
  font-weight: 700;
}

.form-input-field:hover,
.form-textarea-field:hover {
  padding: 8px 13px;
  border: 2px solid #999999;
}

.form-input-field:focus,
.form-textarea-field:focus {
  padding: 8px 13px;
  border: 2px solid #8fbdec;
  outline: none;
}

.form-input-field:focus::-webkit-input-placeholder,
.form-textarea-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-input-field:focus::-moz-placeholder,
.form-textarea-field:focus::-moz-placeholder {
  color: transparent;
}

.form-input-field:focus:-moz-placeholder,
.form-textarea-field:focus:-moz-placeholder {
  color: transparent;
}

.form-input-field:focus:-ms-input-placeholder,
.form-textarea-field:focus:-ms-input-placeholder {
  color: transparent;
}

.main-header {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-header ul {
  margin-top: 14px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation-item {
  position: relative;
}

.site-navigation-item:hover .sub-navigation,
.site-navigation-item:focus .sub-navigation {
  display: block;
}

.site-navigation-link,
.user-navigation-link {
  display: block;
  padding: 7px 14px;
  vertical-align: middle;
}

.site-navigation-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation-link::after {
  content: "";

  position: absolute;
  right: 14px;
  bottom: 6px;
  left: 14px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.3);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #333333;
  text-decoration: none;

  background-color: #ffffff;
  border: none;
  border-radius: 18px;
}

.site-navigation-link:active {
  border: none;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current {
  background-color: #d07058;
  border-radius: 18px;
  border: none;
}

.site-navigation-current::after {
  display: none;
}

.sub-navigation {
  display: none;
  position: absolute;
  padding: 0;
  padding-bottom: 6px;
  top: 25px;
  width: 143px;
  list-style: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  background-color: #ffffff;
  color: #333333;
  border-radius: 6px;
  z-index: 2;
  box-shadow: 2px 10px 20px 5px #56645c;
}

.sub-navigation-new {
  position: relative;
  margin: 0;
  padding: 12px 20px;
  font-weight: 700;
}

.sub-navigation-new::after {
  content: "";

  position: absolute;
  right: 9px;
  bottom: 0px;
  left: 5px;

  height: 1px;

  background-color: #d1d0ce;
}

.sub-navigation-link {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 6px 20px;
  margin-top: 3px;
}

.sub-navigation-link:hover,
.sub-navigation-link:focus {
  background-color: #fbded7;
}

.sub-navigation-link:active {
  background-color: #f6b5a5;
}

.sub-navigation-current {
  background-color: #d07058;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 260px;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.user-navigation-item {
  position: relative;
}

.user-navigation-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
  border-radius: 16px;
  padding-left: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation-link svg {
  padding-right: 7px;
}

.search-link-trigger svg {
  padding-left: 7px;
}

.basket-link-trigger {
  box-sizing: border-box;
  width: 118px;
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-link:hover .color-change,
.user-navigation-link:focus .color-change,
.user-navigation-link:active .color-change{
  fill: #000000;
}

.search-link-trigger {
  margin-left: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.user-navigation-popup {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 20px 15px;

  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 3px 5px 25px 3px #56645c;
  border-radius: 6px;
  z-index: 4;
}

.user-navigation-item:hover .user-navigation-popup {
  display: block;
}

.search-link-tooltip {
  width: 341px;
}

.search-form .form-input-field {
  width: 100%;
}

.login-link-tooltip {
  padding: 20px;
  width: 277px;
}

.login-form .form-input-field {
  width: 100%;
  margin-bottom: 20px;
}

.login-form-button {
  float: left;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 24px;
}

.login-form-links {
  display: inline-block;
  width: 120px;
  margin: 0;
  margin-top: 5px;
  margin-left: 20px;
}

.login-form-links a {
  font-size: 13px;
  color:#323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form-links a:hover,
.login-form-links a:focus,
.login-form-links a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.basket-link-full {
  color: #323232;
  background-color: #f8f7f4;
}

.basket-link-tooltip {
  width: 540px;
}

.basket-table {
  border: none;
}

.basket-table tr {
  min-height: 31px;
}

.basket-table td {
  box-sizing: border-box;
  padding-right: 15px;
}

.basket-table td:last-child {
  padding-right: 0;
}

.basket-item-delete {
  position: relative;
}

.button-item-delete {
  width: 11px;
  height: 11px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.button-item-delete::before,
.button-item-delete::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 11px;
  background-color: #231f20;
}

.button-item-delete::before {
  transform: rotate(45deg);
}

.button-item-delete::after {
  transform: rotate(-45deg);
}

.basket-item-title {
  width: 230px;
}

.basket-item-count,
.basket-item-price {
  text-align: center;
}

.basket-item-count {
  width: 125px;
}

.basket-item-price {
  width: 80px;
}

.basket-link-full {
  color: #323232;
  background-color: #f8f7f4;
}

.form {
  background-color: #f8f7f4;
}

/*.form input[type="search"],
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  font: inherit;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 3px;
}

.form input[type="search"]:hover,
.form input[type="text"]:hover,
.form input[type="password"]:hover,
.form input[type="email"]:hover,
.form textarea:hover {
  border: 2px solid #999999;
}

.form input[type="search"]:focus,
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  border: 2px solid #8fbdec;
}*/

.basket-link-tooltip {
  width: 540px;
}

.basket-table {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.basket-item-image img {
  border-radius: 50%;
}

.basket-item-title a {
  text-decoration: none;
  color:#323232;
}

.basket-item-title a:hover,
.basket-item-title a:focus,
.basket-item-title a:active {
  color: #e84d37;
}

.basket-item-count span {
  color: #999999;
}

.basket-price-total {
  font-size: 15px;
  line-height: 18px;
}

.header-contacts {
  margin-left: auto;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.header-contacts p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  vertical-align: middle;
  text-align: right;
}

.header-contacts p:first-child {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.header-contacts p:last-child {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;
  
  padding-top: 275px;
  padding-bottom: 42px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 28px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
}

.slider-controls {
  position: absolute;
  bottom: 63px;

  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {  
  background-color: rgba(255, 255, 255, 0.6);
}

.slider-controls label:checked,
.slider-controls label:active {
  background-color: #ffffff;
}

/*
}

.slide h2 {
  align-self: center;
  margin: 0;
  padding: 0;
  width: 670px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.slide-button {
  align-self: center;
  padding: 10px 40px;
  margin-top: 25px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
} 

.slider-controls {
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.control-bullet {
  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.control-bullet:hover,
.control-bullet:focus {  
  background-color: rgba(255, 255, 255, 0.6);
}

.control-bullet-current button,
.control-bullet:active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
*/
.banner {
  margin-bottom: 35px;
}

.banner-list {
  display: flex;
  flex-wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 17px 20px 22px;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
}

.banner-item:first-child {
  background-color: #73172b;
  background-image: url("../img/banner-raspberry.jpg");

  color: #ffffff;
}

.banner-item:last-child {
  background-color: #3a2217;
  background-image: url("../img/banner-chocolate.jpg");

  color: #ffffff;
}

.banner-item h3 {
  margin: 0;
  margin-bottom: 17px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banner-item p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.banner-button {
  align-self: flex-end;
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 22px;
}

.catalog-container {
  width: 1172px;
  margin: 0 auto;
  padding: 0 13px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 293px;
  height: 365px;
}

.catalog-item-sticker::before {
  content:"";

  width: 61px;
  height: 61px;

  position:absolute;
  top: 5px;
  left: 13px;
  z-index: 2;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 293px;
  min-height: 405px;
  border-radius: 5px;
}

.catalog-item:hover .catalog-item-content,
.catalog-item:focus .catalog-item-content {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.catalog-item-button {
  display: none;
  order: 2;
  align-self: center;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: auto;
  margin-bottom: 20px;
  border-radius: 22px;
}

.catalog-item:hover .catalog-item-button,
.catalog-item:focus .catalog-item-button {
  display: block;
}

.catalog-item h3 {
  width: 258px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  order: 1;
}

.catalog-item-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item-link:hover,
.catalog-item-link:focus,
.catalog-item-link:active {
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item img {
  width: 267px;
  height: 267px;
  margin-top: 5px;
  border-radius: 50%;
  order: 0;
}

.catalog-item-price {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 215px;
  left: 13px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

}

.catalog-item-price::before {
  content:"";

  width: 27px;
  height: 31px;

  position:absolute;
  top: 6px;
  left: 82px;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price .kilo {
  font-size: 30px;
  padding-left: 37px;
}

.features {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 26px 20px;
  margin-bottom: 40px;
  min-height: 306px;

  color: #323232;

  background-color: #eadcbe;
  background-image: url("../img/pattern-wafer.jpg");
  background-repeat: repeat;

  border-radius: 15px;
}

.feature-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  display: flex;
  width: 540px;
  padding-top: 20px;
}

.feature-item img  {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-top:-12px;
}

.feature-item:nth-child(odd) {
  margin-right: auto;
}

.feature-item:nth-child(even) {
  margin-left: auto;
}

.feature-item p {
  margin: 0;
  padding-left: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.news {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.new-post {
  padding: 22px 20px;
  box-sizing: border-box;
  min-height: 220px;
  width: 560px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/new-post.jpg");

  border-radius: 15px;
}

.new-post h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.new-post a {
  display: block;
  margin: 0;
  width: 285px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color:#323232;
}

.new-post a:hover,
.new-post a:focus,
.new-post a:active {
  color: #e84d37;
}

.subscribe-block {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  min-height: 220px;
  width: 560px;
  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(
    135deg, 
    #92cdff,
    #92cdff 5px,
    #f8f7f4 5px, 
    #f8f7f4 10px, 
    #fe9e90 10px, 
    #fe9e90 15px
  );
  color: #5a5a5a;
  border-radius: 15px;
}

.subscribe-block-wrapper {
  padding: 30px 20px 35px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 15px;
  }

.subscribe-block-wrapper p {
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  vertical-align: middle;
}

.subscribe-block-button {
  vertical-align: top;
  padding: 9px 17px;
  border-radius: 22px;
  margin-left: 10px;
}

.subscribe-form .form-input-field {
  width: 368px;
  font-size: 16px;
}

.contacts {
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;

  color:#323232;
  background-color: #e9e1c2; 
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  position: absolute;
  top: 63px;
  right: 25px;

  box-sizing: border-box;
  width: 305px;
  min-height: 305px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color:#323232;
  background-color: #fdfefe;
  border-radius: 15px;
}

.contacts-info p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.conatcts-info b {
  margin: 0;
  font-weight: 700;
}

.contacts-address {
  margin-bottom: 18px;
}

.contacts-address b {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone {
  line-height: 22px;
}

.contacts-text {
  line-height: 20px;
  padding-bottom: 5px;
}

.contacts-phone b {
  font-size: 18px;
  font-weight: 700;
}

.contacts-button {
  margin-top: auto;
  width: 100%;
  border-radius: 22px;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 477px;
  padding: 17px 23px 24px;

  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0px 2px 2px 0px #56645c;
  border-radius: 6px;
  z-index: 4;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 23px;
  width: 18px;
  height: 18px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 17px;
  background-color: #231f20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}

.feedback-form .form-input-field {
  width: 268px;
  margin-bottom: 20px;
}

.feedback-form .form-textarea-field {
  width: 100%;
  margin-bottom: 25px;
}

.feedback-form-button {
  float: right;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 24px;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 32, 0.3);
  z-index: 3;
}

.contacts-button:active .modal-feedback,
.contacts-button:active .overlay {
  display: block;
}

.inner-page {
  background-image: url("../img/backlight.png");
  background-repeat: repeat-x;
}

.catalog-page,
.catalog-page .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  order:-1;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  margin-top:-17px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -13px;

  width: 6px;
  height: 6px;
}

.breadcrumbs-current::after {
  display: none;
}

.filters {
  margin-bottom: 35px;
}

.form-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
  font-size: 16px;
  line-height: 18px;
}

.form-filter fieldset {
  height: 58px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.form-filter legend {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  margin-left: 16px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.form-filter select,
.form-filter input {
  font: inherit;
}

.form-filter select:hover + label,
.form-filter select:focus + label {
  color: #323232;
}

.filter-button {
   color: #ffffff;

   border: 2px solid #ffffff;
   border-radius: 18px;
   background-color: rgba(255, 255, 255, 0.2);
}

.filter-button:hover,
.filter-button:focus {
   color: #323232;
   background-color: #ffffff;
}

.filter-button:active {
   color: #323232;
   background-color: #ffffff;
   border: none;
   box-shadow: inset 0px 2px 1px 0px #7d7d7d;
}

.catalog-page .catalog {
  margin-bottom: 40px;
}

.page-navigation {
 margin-bottom: 30px;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list li {
  display: flex;
  align-items: center;
}

.pagination-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  cursor: pointer;
}

.pagination-button-back {
  border-right: none;
  border-top: none;
  margin-right: 15px;
}

.pagination-button-next {
  border-left: none;
  border-bottom: none;
  margin-left: 15px;
}

.pagination-button:disabled,
.pagination-button.disabled {
  cursor: default;
  opacity: 0.2;
}

.pagination-link {
  display: block;
  padding: 3px 7px;
  margin-right: 1px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-link-current,
.pagination-link:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 18px;
  padding-bottom: 20px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 185px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  padding-bottom: 5px;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  text-decoration: none;

  border: 3px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active::before {
  content: "";
  position: absolute;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0px 2px 1px #888888;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  width: 355px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-info li {
  padding-left: 30px;
  padding-bottom: 5px;
  position: relative;
}

.footer-info li:nth-child(odd) {
  width: 112px;
}

.footer-info li:nth-child(even) {
  width: 163px;
}

.footer-info a,
.footer-copyright a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-info b::before {
  content:"";
  width: 15px;
  height: 12px;

  position:absolute;
  top: 3px;
  left: 7px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  width: 190px;
}

.footer-copyright p {
  margin: 0;
  font-size: 12px;
}
