body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  color: #ffffff;
  background-color: #849d8f;
}

.button {
  padding: 13px 17px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;

  background-color: #ec583c;
  background-image: linear-gradient(
    90deg, 
    #e74a35 0%, 
    #f26843 100%
  );
  border: none;
  border-radius: 18px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(
   90deg, 
   #eb6e5d 0%, 
   #f48668 100%
  );
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: linear-gradient(
   90deg, 
   #e1613e 0%, 
   #d64531 100%
  );
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.light-link {
  color: #ffffff;
}

.light-link:hover,
.light-link:focus,
.light-link:active {
  color: #ffbc9e;
}

.dark-link {
  color:#323232;
}

.dark-link:hover,
.dark-link:focus,
.dark-link:active {
  color: #e84d37;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.index-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-header {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  font-size: 14px;
  line-height: 16px;
}

.main-navigation-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  width: 405px;
  margin: 0;
  margin-left:10px;
  padding: 15px 0;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation-item {
  display: inline-block;
  position: relative;  
}

.site-navigation-item > a {
  display: block;
  margin: 8px 13px; 
  text-align: center;
  vertical-align: top;
  color:#ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-item > a:hover,
.site-navigation-item > a:hover {
  color: #333333;
  text-decoration: none;
  border:none;
  margin:0;
  padding: 8px 13px; 

  background-color: #ffffff;
  border-radius: 18px;
}

.site-navigation-item > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current a {
  margin:0;
  padding: 8px 13px; 
  background-color: #d07058;
  border:0;
  text-decoration:none;
  border-radius: 16px;
}

.sub-navigation {
  display:none;
  position: absolute;
  width:143px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #333333;
  
  background-color: #f8f7f4;
}

.sub-navigation-item {
  vertical-align: center;
  padding:8px 20px 5px 20px;
}

.sub-navigation-item a {
  color: #333333;
  text-decoration: none;
  margin:0;
  padding:8px 20px 5px 20px;
}

.sub-navigation-item a:hover,
.sub-navigation-item a:focus {
  background-color: #fbded7;
}

.sub-navigation-item a:active {
  background-color: #f6b5a5;
}

.sub-navigation-current {
  background-color: #d07058;
}

.user-navigation {
  width: 260px;
  margin: 0;
  margin-left: auto;
  padding: 15px 0;
  list-style: none;
}

.user-navigation li {
  display: inline-block;
  position: relative;
}

.user-navigation-popup {
  display: none;
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-link {
  display:block;
  margin-right:10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
  color: #323232;
  background-color: #f8f7f4;
}

.form {
  background-color: #f8f7f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}

.form input[type="search"],
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  font: inherit;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 3px;
}

.form input[type="search"]:hover,
.form input[type="text"]:hover,
.form input[type="password"]:hover,
.form input[type="email"]:hover,
.form textarea:hover {
  border: 2px solid #999999;
}

.form input[type="search"]:focus,
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  border: 2px solid #8fbdec;
}

.login-form-links a {
  font-size: 13px;
}

.basket-table {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.basket-item-image img {
  border-radius: 50%;
}

.basket-item-title a {
  text-decoration: none;
}

.basket-item-count span {
  color: #999999;
}

.basket-price-total {
  font-size: 15px;
  line-height: 18px;
}

.header-contacts {
  margin-left: auto;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.header-contacts p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.header-contacts p:first-child {
  padding-bottom: 6px;
}

.header-contacts p:last-child {
  font-size: 22px;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 881px;
}

.slide:first-child {
  background-position: top center;
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  display: none;
  background-position: top center;
  background-repeat: no-repeat;
}

.slide:last-child {
  display: none;
  background-position: top center;
  background-repeat: no-repeat;
}

.slide h2 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.slide-button {
  align-self: center;
  padding: 18px 40px;
  font-size: 32px;
  line-height: 44px;
} 

.slider-controls {
  position: absolute;
  top: 562px;
  margin-right: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-controls li {
    display: inline-block;
}

.control-bullet {
  width: 18px;
  height: 18px;
  margin-right: 5px;

  font-size: 0;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.control-bullet:hover,
.control-bullet:focus {  
  background-color: rgba(255, 255, 255, 0.6);
}

.control-bullet-current button,
.control-bullet:active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.banner {
  margin-bottom: 40px;
}

.banner-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.banner-item {
  width: 560px;
  min-height: 229px;
}

.banner-item:first-child {
  background-color: #73172b;
  background-image: url("../img/banner-raspberry.jpg");

  border-radius: 11px;
}

.banner-item:last-child {
  background-color: #3a2217;
  background-image: url("../img/banner-chocolate.jpg");

  border-radius: 11px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  list-style: none;
}

.catalog-item {
  width: 293px;
  text-align: center;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.catalog-item h3 {
  width: 258px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-item img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-item-price span {
  font-size: 30px;
}

.features {
  margin-bottom: 40px;

  color: #323232;

  background-color: #eadcbe;
  background-image: url("../img/pattern-wafer.jpg");
  background-repeat: repeat-x;

  border-radius: 15px;
}

.features .features-title {
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  padding-left: 56px;
  padding-right: 32px;
}

.features-item:nth-child(3),
.features-item:last-child {
  padding-right:0;
}

.news {  
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.new-post {
  min-height: 220px;
  width: 560px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/new-post.jpg");

  border-radius: 11px;
}

.new-post a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscribe-block {
  min-height: 220px;
  width: 560px;
  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(
    135deg, 
    #92cdff,
    #92cdff 5px,
    #f8f7f4 5px, 
    #f8f7f4 10px, 
    #fe9e90 10px, 
    #fe9e90 15px
  );
  color: #5a5a5a;
  border-radius: 11px;
}

.subscribe-block-wrap {
  min-height: 210px;
  background-color:#f8f7f4;
  border-radius: 11px;
  }

.contacts {
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;

  color:#323232;
  background-color: #e9e1c2; 
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  border-radius: 11px;
}

.contacts-info {
  position: absolute;
  top: 0;
  right: 0;

  min-height: 247px;
  width: 247px;
  margin-top: 63px;
  margin-right: 27px;
  padding: 30px;
  padding-left: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color:#323232;
  background-color: #fdfefe;
  border-radius: 10px;
}

.contacts-info p {
  margin: 0;
  padding: 0;
}

.contacts-info p:first-child {
  margin-bottom: 18px;
}

.contacts-info p:nth-child(2) {
  margin-bottom: 23px;
}

.contacts-info b {
  font-size: 18px;
  line-height: 24px;
}

.catalog-page,
.catalog-page .container {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom:25px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.breadcrumbs {
  order:-1;
  padding: 0;
  margin: 0;
  margin-bottom:5px;
  margin-top:-14px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form-filter {
  width:960px;
  font-size: 16px;
  line-height: 18px;
}

.form-filter fieldset {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.form-filter legend {
  font-size: 14px;
  line-height: 18px;
}

.form-filter select,
.form-filter input {
  font: inherit;
}

.form-filter select:hover + label,
.form-filter select:focus + label {
  color: #323232;
}

.filter-button {
   color: #ffffff;

   border: 2px solid #ffffff;
   border-radius: 18px;
   background-color: rgba(255, 255, 255, 0.2);
}

.filter-button:hover,
.filter-button:focus {
   color: #323232;
   background-color: #ffffff;
}

.filter-button:active {
   color: #323232;
   background-color: #ffffff;
   border: none;
   box-shadow: inset 0px 2px 1px 0px #7d7d7d;
}

.page-navigation {
 margin-top:80px;
 margin-bottom:30px;
 align-self: flex-end;
 width:190px;
}

.pagination-list {
  display:inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item-current a,
.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.main-footer {
  display: flex;
  padding-top: 17px;
  padding-bottom: 24px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 190px;
  margin-right: auto;
  text-align: center;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  width: 32px;
  height: 32px;
  font-size: 0;
  text-decoration: none;

  border: 4px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active {
  opacity: 1;
  box-shadow: inset 0px 2px 1px #888888;
}

.footer-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright {
  width: 190px;
  font-size: 12px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.modal {
  color: #323232;
  background-color: #f8f7f4;
}

.modal p {
  font-size: 24px;
  line-height: 28px;
}