body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;

  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: middle;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;

  background-color: #ec583c;
  background-image: linear-gradient(
    90deg, 
    #e74a35 0%, 
    #f26843 100%
  );
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(
   90deg, 
   #eb6e5d 0%, 
   #f48668 100%
  );
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: linear-gradient(
   90deg, 
   #e1613e 0%, 
   #d64531 100%
  );
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.light-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.light-link:hover,
.light-link:focus,
.light-link:active {
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.dark-link {
  color:#323232;
}

.dark-link:hover,
.dark-link:focus,
.dark-link:active {
  color: #e84d37;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.index-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-header {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-header ul {
  margin-top: 14px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0;
  padding: 0;
  margin-right:auto;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation-link,
.user-navigation-link {
  display: block;
  padding: 7px 14px;
  vertical-align: middle;
}

.site-navigation-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #333333;
  text-decoration: none;

  background-color: #ffffff;
  border: none;
  border-radius: 18px;
}

.site-navigation-link:active {
  border: none;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current {
  background-color: #d07058;
  border-radius: 18px;
}

.sub-navigation {
  display:block;
  position: absolute;
  margin: 0;
  padding: 0;
  padding:13px 0;
  list-style: none;
  background-color: #ffffff;
  color: #333333;
}

.sub-navigation-new {
  padding-left: 16px;
  padding-bottom: 16px;
}

.sub-navigation-link {
  display: block;
  color: #333333;
  font-weight: 400;
  text-decoration: none;
  padding: 6px 20px;
}

.sub-navigation-link:hover,
.sub-navigation-link:focus {
  background-color: #fbded7;
}

.sub-navigation-link:active {
  background-color: #f6b5a5;
}

.sub-navigation-current {
  background-color: #d07058;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 260px;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.user-navigation-popup {
  display: none;
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation-item:first-child .user-navigation-link {
  margin-left:0;
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
  color: #323232;
  background-color: #f8f7f4;
}

.search-link-trigger {
  width: 32px;
  height: 32px;
  padding:0;
  border-radius: 50%;
}

.login-link-trigger,
.basket-link-trigger {
  padding-left:44px;
}

.basket-link-trigger {
  width: 60px;
}

.basket-link-full {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-link svg {
  position: absolute;
  top:6px;
  left:15px;
}

.search-link-trigger svg {
  left:6px;
}

.basket-link-full {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-link:hover .color-change,
.user-navigation-link:focus .color-change,
.user-navigation-link:active .color-change{
  fill: #000000;
}

.form {
  background-color: #f8f7f4;
}

.form-input-field {
  padding: 9px 14px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 3px;
}

.form-input-field:hover {
  padding: 7px 12px;
  border: 2px solid #999999;
}

.form-input-field:focus {
  padding: 7px 12px;
  border: 2px solid #8fbdec;
}

.form-input-field:active {
  font-weight: 700;
}

/*.form input[type="search"],
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  font: inherit;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 3px;
}

.form input[type="search"]:hover,
.form input[type="text"]:hover,
.form input[type="password"]:hover,
.form input[type="email"]:hover,
.form textarea:hover {
  border: 2px solid #999999;
}

.form input[type="search"]:focus,
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  border: 2px solid #8fbdec;
}*/

.login-form-links a {
  font-size: 13px;
}

.basket-table {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.basket-item-image img {
  border-radius: 50%;
}

.basket-item-title a {
  text-decoration: none;
}

.basket-item-count span {
  color: #999999;
}

.basket-price-total {
  font-size: 15px;
  line-height: 18px;
}

.header-contacts {
  margin-left: auto;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.header-contacts p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  vertical-align: middle;
  text-align: right;
}

.header-contacts p:first-child {
  font-size: 14px;
  line-height: 16px;
  margin-bottom:5px;
}

.header-contacts p:last-child {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;
  
  padding-top: 321px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/*.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-bottom: 40px;
  min-height: 532px;
}

.slide:first-child {
}

.slide:nth-child(2) {
  display: none;
}

.slide:last-child {
  display: none;
}

.slide h2 {
  align-self: center;
  margin: 0;
  padding: 0;
  width: 670px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.slide-button {
  align-self: center;
  padding: 10px 40px;
  margin-top: 25px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
} 

.slider-controls {
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.control-bullet {
  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.control-bullet:hover,
.control-bullet:focus {  
  background-color: rgba(255, 255, 255, 0.6);
}

.control-bullet-current button,
.control-bullet:active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
*/
.banner {
  margin-bottom: 40px;
}

.banner-list {
  display: flex;
  flex-wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner-item {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 22px;
  width: 520px;
  min-height: 190px;
  border-radius: 15px;
}

.banner-item:first-child {
  background-color: #73172b;
  background-image: url("../img/banner-raspberry.jpg");

  color: #ffffff;
}

.banner-item:last-child {
  background-color: #3a2217;
  background-image: url("../img/banner-chocolate.jpg");

  color: #ffffff;
}

.banner-item h3 {
  margin: 0;
  margin-bottom: 17px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banner-item p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.banner-button {
  align-self: flex-end;
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 22px;
}

.catalog-container {
  width: 1172px;
  margin: 0 auto;
  padding: 0 13px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 293px;
  height: 365px;
}

.catalog-item-sticker::before {
  content:"";

  width:61px;
  height:61px;

  position:absolute;
  top:5px;
  left:13px;
  z-index:3;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 293px;
  min-height: 405px;
  border-radius: 5px;
}

.catalog-item:hover .catalog-item-content,
.catalog-item:focus .catalog-item-content {
  background-color: rgba(255, 255, 255, 0.2);
  z-index:2;
}

.catalog-item-button {
  display: none;
  order: 2;
  align-self: center;
  padding: 11px 17px;
  margin-top: auto;
  margin-bottom: 20px;
  border-radius: 22px;
}

.catalog-item:hover .catalog-item-button,
.catalog-item:focus .catalog-item-button {
  display: block;
}

.catalog-item h3 {
  width: 258px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  order: 1;
}

.catalog-item img {
  width: 267px;
  height: 267px;
  margin-top: 5px;
  border-radius: 50%;
  order: 0;
}

.catalog-item-price {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 215px;
  left: 13px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-item-price::before {
  content:"";

  width:27px;
  height:31px;

  position:absolute;
  top:6px;
  left:82px;
  z-index:3;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-price .kilo {
  font-size: 30px;
  padding-left:37px;
}

.features {
  display: flex;
  flex-direction: column;
  padding:26px 20px;
  margin-bottom: 40px;
  min-height:255px;

  color: #323232;

  background-color: #eadcbe;
  background-image: url("../img/pattern-wafer.jpg");
  background-repeat: repeat;

  border-radius: 15px;
}

.feature-title {
  margin:0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  padding-left: 57px;
  width: 483px;

  background-repeat: no-repeat;
  background-position: left 10px;
  background-size: 49px 49px;
}

.feature-item:nth-child(odd) {
  margin-right: auto;
}

.feature-item:nth-child(even) {
  margin-left: auto;
}

.feature-item p {
  margin:0;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.feature-icon-ice-cream {
  background-image: url("../img/ice-cream.svg");
}

.feature-icon-cow {
  background-image: url("../img/cow.svg");
}

.feature-icon-eco {
  background-image: url("../img/eco.svg");
}

.feature-icon-thermometer {
  background-image: url("../img/thermometer.svg");
}

.news {  
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.new-post {
  padding: 22px 20px;
  min-height: 170px;
  width: 520px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/new-post.jpg");

  border-radius: 15px;
}

.new-post h3 {
  margin:0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.new-post a {
  display: block;
  margin: 0;
  width: 285px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscribe-block {
  display: flex;
  padding: 5px;
  min-height: 210px;
  width: 550px;
  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(
    135deg, 
    #92cdff,
    #92cdff 5px,
    #f8f7f4 5px, 
    #f8f7f4 10px, 
    #fe9e90 10px, 
    #fe9e90 15px
  );
  color: #5a5a5a;
  border-radius: 15px;
}

.subscribe-block-wrapper {
  padding:30px 20px 35px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 15px;
  }

.subscribe-block-wrapper p {
  margin:0;
  margin-bottom:35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  vertical-align:middle;
}

.subscribe-block-button {
  padding: 9px 17px;
  border-radius: 22px;
  margin-left: 10px;
}

.subscribe-form .form-input-field {
  box-sizing: border-box;
  width: 368px;
  font-size: 16px;
}

.contacts {
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;

  color:#323232;
  background-color: #e9e1c2; 
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
}

.contacts-info {
  display:flex;
  flex-direction: column;
  padding:30px 25px;
  position: absolute;
  top: 63px;
  right: 25px;

  box-sizing: border-box;
  width: 305px;
  min-height: 305px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color:#323232;
  background-color: #fdfefe;
  border-radius: 15px;
}

.contacts-info p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.conatcts-info b {
  margin:0;
  font-weight: 700;
}

.contacts-address {
  margin-bottom:18px;
}

.contacts-address b {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone {
  line-height: 22px;
}

.contacts-text {
  line-height: 20px;
  padding-bottom:5px;
}

.contacts-phone b {
  font-size: 18px;
  font-weight: 700;
}

.contacts-button {
  margin-top:auto;
  width:100%;
  border-radius: 22px;
}

.catalog-page,
.catalog-page .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  order:-1;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  margin-top:-17px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -13px;

  width: 6px;
  height: 6px;
}

.breadcrumbs-current::after {
  display: none;
}

.filters {
  margin-bottom: 35px;
}

.form-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
  font-size: 16px;
  line-height: 18px;
}

.form-filter fieldset {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.form-filter legend {
  font-size: 14px;
  line-height: 16px;
  margin: 7px;
}

.form-filter select,
.form-filter input {
  font: inherit;
}

.form-filter select:hover + label,
.form-filter select:focus + label {
  color: #323232;
}

.filter-button {
   color: #ffffff;

   border: 2px solid #ffffff;
   border-radius: 18px;
   background-color: rgba(255, 255, 255, 0.2);
}

.filter-button:hover,
.filter-button:focus {
   color: #323232;
   background-color: #ffffff;
}

.filter-button:active {
   color: #323232;
   background-color: #ffffff;
   border: none;
   box-shadow: inset 0px 2px 1px 0px #7d7d7d;
}

.catalog-page .catalog {
  margin-bottom: 40px;
}

.page-navigation {
 margin-bottom: 30px;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 3px 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item-current a,
.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 35px;
  padding-bottom: 20px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 185px;
  margin: 0;
  padding: 0;
  margin-bottom:5px;
  list-style: none;
}

.social-button {
  display:block;
  width: 32px;
  height: 32px;
  text-decoration: none;

  border: 3px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active {
  opacity: 1;
  box-shadow: inset 0px 2px 1px #888888;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  width:355px;
  list-style: none;
  margin: 0;
  margin-bottom:5px;
  padding: 0;
}

.footer-info li {
  padding-left: 30px;
  position:relative;
}

.footer-info li:nth-child(odd) {
  width:112px;
}

.footer-info li:nth-child(even) {
  width:163px;
}

.footer-info b::before {
  content:"";
  width:15px;
  height:12px;

  position:absolute;
  top:3px;
  left:7px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  align-self: flex-end;
  width: 190px;
  font-size: 12px;
  margin: 0;
}

.footer-copyright::before {
  content:"";
  width:15px;
  height:12px;

  position:absolute;
  top:3px;
  left:7px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
}

.modal {
  color: #323232;
  background-color: #f8f7f4;
}

.modal p {
  font-size: 24px;
  line-height: 28px;
}